@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.intro {
  background: black;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-text {
  color: white;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

body {
  background: black;
  z-index: 1;
}

.main {
  background: url(/jbp-imports/IMGS/fezbot2000-0AIcmKYLMBI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0rem -20rem;
  min-height: 100vh;
  z-index: 2;
}

.topbar {
  min-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1c201c;
  color: white;
}

.nav {
  min-width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 10rem;
  height: auto;
}

.hero h2 {
  color: white;
  font-weight: 300;
  font-size: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
}

.hero a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  padding: 0.35rem 1.2rem;
  border: 0.1rem solid #FFFFFF;
  margin: 0 0.3rem 0.3rem 0;
  border-radius: 0.1rem;
  text-decoration: none;
  font-weight: 300;
  font-size: 2rem;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hero a:hover {
  color: #000000;
  background-color: #FFFFFF;
}

footer {
  min-height: 2rem;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0%;
  background-color: #1c201c;
}

.btmnav {
  min-width: 100vw;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #636363;
  font-size: 1rem;
}

.btmnav li {
  padding: 0rem 1rem;
}

.btmnav a {
  color: #636363;
}

@media (max-width: 500px) {
  /* Mobile In Portrait */
  .intro-text {
    padding-left: 1rem;
  }
  .nav a {
    font-size: 0.75rem;
  }
  .logo img {
    width: 7rem;
    height: auto;
  }
  .main {
    background: url(/jbp-imports/IMGS/fezbot2000-0AIcmKYLMBI-unsplash.jpg);
    min-height: 100vh;
    background-size: 75rem;
    background-repeat: no-repeat;
    background-position: -15rem 0rem;
  }
  .hero h2 {
    font-size: 2rem;
    text-shadow: 2px 2px 5px black;
  }
  .hero a {
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .btmnav {
    font-size: 0.75rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style1.css.map */